/* color palette from <https://github.com/vuejs/theme> */
:root {
    --sidebar-color: rgba(0, 0, 0, .55);
    --sidebar-hover-color: rgba(0, 0, 0, 0.7);
    --sidebar-disabled-color: rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}