@import "./base.css";

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    position: relative
}

.avatar {
    position: relative;
    display: inline-block;
}

.avatar-xl {
    height: 2rem;
    width: 2rem;
}

.avatar img {
    display: block;
}

.avatar img, .avatar .avatar-name {
    width: 100%;
    height: 100%;
}

.avatar img {
    -o-object-fit: cover;
    object-fit: cover;
}

.cursor-pointer {
    cursor: pointer
}

.card {
    border: none;
}

.table > :not(caption) > * > * {
    padding: .4rem .5rem;
    font-size: 11pt;
}

table td.actions .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    width: 1.7rem;
    height: 1.7rem;
    padding: 4px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.formkit-input {
    display: flex;
    align-items: center;
}

[data-type=submit] .formkit-input::before {
    box-sizing: border-box;
    content: "";
    width: 0;
    margin-right: 0;
    height: 1.28571428em;
    border: 0 solid transparent;
    border-radius: 1.28571428em;
    transition: width .25s, border .25s, margin-right .25s;
}

[data-loading] [data-type="submit"] .formkit-input::before {
    -webkit-animation: rotate 0.5s linear infinite;
    animation: rotate 0.5s linear infinite;
    width: 1.28571428em;
    border: 0.1428571429em solid white;
    border-right-color: transparent;
    margin-right: 0.75em;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}