@import "./base.css";

td {
    vertical-align: middle;
}

small, .small {
    font-size: 75%
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    position: relative
}

.avatar {
    position: relative;
    display: inline-block;
}

.avatar-xl {
    height: 2rem;
    width: 2rem;
}

.avatar img {
    display: block;
}

.avatar img, .avatar .avatar-name {
    width: 100%;
    height: 100%;
}

.avatar img {
    -o-object-fit: cover;
    object-fit: cover;
}

.cursor-pointer {
    cursor: pointer
}

.card {
    border: none;
}

.table > :not(caption) > * > * {
    padding: .4rem .5rem;
    font-size: 11pt;
}

table td.actions .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    width: 1.7rem;
    height: 1.7rem;
    padding: 4px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


/*===   === === === === ===  FORMKIT */
.formkit-input {
    display: flex;
    align-items: center;
}

.formkit-messages {
    padding-left: .5rem;
}

.formkit-message {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
    font-size: 75%;
    list-style: none;
}

[data-type=submit] .formkit-input::before {
    box-sizing: border-box;
    content: "";
    width: 0;
    margin-right: 0;
    height: 1.28571428em;
    border: 0 solid transparent;
    border-radius: 1.28571428em;
    transition: width .25s, border .25s, margin-right .25s;
}

[data-loading] [data-type="submit"] .formkit-input::before,
[data-type="submit"] .loading.formkit-input::before {
    -webkit-animation: rotate 0.5s linear infinite;
    animation: rotate 0.5s linear infinite;
    width: 1.28571428em;
    border: 0.1428571429em solid white;
    border-right-color: transparent;
    margin-right: 0.75em;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.badge-soft-primary {
    color: var(--badge-soft-primary-color);
    background-color: var(--badge-soft-primary-background-color)
}

.badge-soft-primary[href]:hover, .badge-soft-primary[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-primary-color);
    background-color: var(--badge-soft-primary-background-color)
}

.badge-soft-secondary {
    color: var(--badge-soft-secondary-color);
    background-color: var(--badge-soft-secondary-background-color)
}

.badge-soft-secondary[href]:hover, .badge-soft-secondary[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-secondary-color);
    background-color: var(--badge-soft-secondary-background-color)
}

.badge-soft-success {
    color: var(--badge-soft-success-color);
    background-color: var(--badge-soft-success-background-color)
}

.badge-soft-success[href]:hover, .badge-soft-success[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-success-color);
    background-color: var(--badge-soft-success-background-color)
}

.badge-soft-info {
    color: var(--badge-soft-info-color);
    background-color: var(--badge-soft-info-background-color)
}

.badge-soft-info[href]:hover, .badge-soft-info[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-info-color);
    background-color: var(--badge-soft-info-background-color)
}

.badge-soft-warning {
    color: var(--badge-soft-warning-color);
    background-color: var(--badge-soft-warning-background-color)
}

.badge-soft-warning[href]:hover, .badge-soft-warning[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-warning-color);
    background-color: var(--badge-soft-warning-background-color)
}

.badge-soft-danger {
    color: var(--badge-soft-danger-color);
    background-color: var(--badge-soft-danger-background-color)
}

.badge-soft-danger[href]:hover, .badge-soft-danger[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-danger-color);
    background-color: var(--badge-soft-danger-background-color)
}

.badge-soft-light {
    color: var(--badge-soft-light-color);
    background-color: var(--badge-soft-light-background-color)
}

.badge-soft-light[href]:hover, .badge-soft-light[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-light-color);
    background-color: var(--badge-soft-light-background-color)
}

.badge-soft-dark {
    color: var(--badge-soft-dark-color);
    background-color: var(--badge-soft-dark-background-color)
}

.badge-soft-dark[href]:hover, .badge-soft-dark[href]:focus {
    text-decoration: none;
    color: var(--badge-soft-dark-color);
    background-color: var(--badge-soft-dark-background-color)
}